body {
    padding: 0;
    margin: 0;
}

#AppLayout {
    padding: 20px;
    border: 1px solid black;
}

#Header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

#Body {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#AppOthers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header > #AppOthers > h2 {
    padding: 0 10px;
}

table {
    padding: 10px;
    border-collapse: collapse;
}

table, tr, td {
    border: 2px solid purple
}