body {
    padding: 0;
    margin: 0;
}

#AppLayout {
    padding: 20px;
}

#Header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

#Body {
    border: 1px solid red;
    
}

#AppOthers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header > #AppOthers > h2 {
    padding: 0 10px;
}

#Body {
    padding: 20px;
}

table {
    margin-top: 20px;
    padding: 10px;
    border-collapse: collapse;
}

/* table, tr, td {
    border: 2px solid purple
} */

td {
    padding: 5px;
}

table > thead {
    font-weight: bold;
}

#ToDoInput, #ToDoAddBtn {
    padding: 5px;
}

#AddToDo > #ToDoInput {
    margin-right: 20px;
}

#ToDoAddBtn {
    width: 75px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.styled-table thead tr {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}