body {
    padding: 0;
    margin: 0;
}

#AppLayout {
    padding: 20px;
    border: 1px solid black;
}

#Header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

#Body {
    border: 1px solid red;
    
}

#AppOthers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header > #AppOthers > h2 {
    padding: 0 10px;
}

#Body {
    padding: 20px;
}

table {
    margin-top: 20px;
    padding: 10px;
    border-collapse: collapse;
}

table, tr, td {
    border: 2px solid purple
}

td {
    padding: 5px;
}

table > thead {
    font-weight: bold;
}

#ToDoInput, #ToDoAddBtn {
    padding: 5px;
}

#AddToDo > #ToDoInput {
    margin-right: 20px;
}

#ToDoAddBtn {
    width: 75px;
}
